In [3]:
pwd

'/mmfs1/data/aglinska/BC-ORG-Data/Code'

In [4]:
cd ../../ndar_fmri/

/mmfs1/data/aglinska/ndar_fmri

In [5]:
import pandas as pd
import os
import numpy as np
from tqdm import tqdm
import shutil

In [6]:
df = pd.read_csv('image03.txt',delimiter='\t')
df = df.iloc[1::]
df = df.iloc[~pd.isna(df['image_file']).values]
df.head(5)

,collection_id,image03_id,dataset_id,subjectkey,src_subject_id,interview_age,sex,comments_misc,image_file,image_thumbnail_file,...,week,experiment_description,visit,slice_timing,bvek_bval_files,deviceserialnumber,procdate,visnum,manifest,collection_title
1,2075,367948,9786,NDARAV510ZB5,1108,107,M,NaN,s3://NDAR_Central_1/submission_10916/TNAD-x-21...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mapping Thalamocortical Networks Across Develo...
2,2075,367949,9786,NDARCZ285AMD,1147,218,F,NaN,s3://NDAR_Central_1/submission_10916/TNAD-x-21...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mapping Thalamocortical Networks Across Develo...
3,2075,367950,9786,NDARVM585CF7,1179,287,M,NaN,s3://NDAR_Central_1/submission_10916/TNAD-x-21...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mapping Thalamocortical Networks Across Develo...
4,2075,367951,9786,NDARXK457KEY,1232,427,M,NaN,s3://NDAR_Central_1/submission_10916/TNAD-x-21...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mapping Thalamocortical Networks Across Develo...
5,2075,367952,9786,NDARJG780VAV,1323,241,M,NaN,s3://NDAR_Central_1/submission_10916/TNAD-x-21...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mapping Thalamocortical Networks Across Develo...

In [7]:
print(len(df['subjectkey'].values))
print(len(np.unique(df['subjectkey'].values)))

5509
1228

In [8]:
n = len(df)
root = './image03/'
local_paths = list()
for i in tqdm(range(n)):
    s3_path = df['image_file'].values[i]
    splits = s3_path.split('/')[4::]
    relative = '/'.join(splits)
    local_path = os.path.join(root,relative)
    assert os.path.exists(os.path.join(root,relative))
    local_paths.append(local_path)

100%|██████████| 5509/5509 [00:02<00:00, 1856.66it/s]

In [10]:
print(s3_path)
print(os.path.join(root,relative))

s3://NDAR_Central_4/submission_26971/SZ0202_00_SPINECHOFIELDMAP_PA_0033.zip
./image03/SZ0202_00_SPINECHOFIELDMAP_PA_0033.zip

In [60]:
df['local_paths'] = local_paths

In [88]:
errors = list()
for s in tqdm(range(n)):
    subKey = df['subjectkey'].values[s]
    subFilePath = df['local_paths'].values[s]
    subFile = subFilePath.split('/')[-1]

    if not os.path.exists(os.path.join('./subjects',subKey)):
        os.mkdir(os.path.join('./subjects',subKey))
    
    try: 
        shutil.copyfile(subFilePath,os.path.join('./subjects',subKey,subFile));
    except:
        errors.append(subFilePath)

100%|██████████| 5509/5509 [1:02:48<00:00,  1.46it/s]

## PART TWO

In [90]:
pwd

'/mmfs1/data/aglinska/ndar_fmri'

In [122]:
indir = './subjects/'
folders = np.array(os.listdir(indir))

In [124]:
has_nii = np.array([any(['.nii' in cont for cont in os.listdir(os.path.join(indir,f))]) for f in folders])
has_tar = np.array([any(['.tar' in cont for cont in os.listdir(os.path.join(indir,f))]) for f in folders])
has_rest = np.array([any(['rest' in cont.lower() for cont in os.listdir(os.path.join(indir,f))]) for f in folders])

In [125]:
(has_rest * has_nii).sum()

708

In [161]:
exts = list()
for folder in folders:
    these_exts = [cont.split('.')[-1] for cont in os.listdir(os.path.join(indir,folder))]
    [exts.append(ext) for ext in these_exts]

In [162]:
c = pd.DataFrame(np.array(exts),columns=['key'])
c['ones'] = np.ones(len(c))
c.groupby(['key']).count()

               ones
key
1D                1
1_1018_v1_zip     1
1_1018_v2_zip     1
BRIK             57
dcm             363
gz             2592
gz?               1
nii             436
zip             109